{% extends 'base.html.twig' %}

{% block title %}
    Pago jugador
{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="card box-solid">
                <div class="card-header with-border">
                    <i class="fa fa-money"></i>

                    <h3 class="card-title">Pago jugador</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                    <table class="table">
                        <tbody>

                        <tr>
                            <th>Fecha</th>
                            <td>{% if pagoJugador.fecha %}{{ pagoJugador.fecha|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Monto</th>
                            <td>{{ pagoJugador.monto }}</td>
                        </tr>
                        <tr>
                            <th>Mes</th>
                            <td>{{ pagoJugador.mes }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>


    <a class="btn btn-default" href="{{ path('pagojugador_index') }}">Volver</a>

    <a class="btn btn-default" href="{{ path('pagojugador_edit', { 'id': pagoJugador.id }) }}">Editar</a>


{% endblock %}
