<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }} | Recuperar Password</title>
    {% set logoUnion = asset('uploads/images/union/logo_union.png') %}
    {% if logoUnion %}
        {# TODO cambiar cuando se instale en bolivia #}
        {% set logoUnion = asset('build/img/logo_urp.jpg') %}
    {% endif %}
    <link rel="icon" type="image/png" href="{{ logoUnion }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/login') }}
    {% endblock %}
    <style>
        .img-fluid {
            width: 7rem;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img class="img-fluid" src="{{ logoUnion }}" alt="logo">
        </div>
        <div class="card-body">

            <p class="login-box-msg">Se ha enviado un correo electr칩nico que contiene un enlace en el que puede hacer
                click para restablecer su
                contrase침a. Este enlace caducar치
                en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                hora(s).</p>
            <p class="login-box-msg">Si no recibe un correo electr칩nico, revise su carpeta de correo no deseado o <a
                        href="{{ path('app_forgot_password_request') }}">Vuelva a intentar</a>.</p>

            <p class="mt-3 mb-1">
                <a href="{{ path('app_login') }}">Volver al Inicio</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->


{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
</body>
</html>
