{% extends 'base.html.twig' %}

{% block title %}Rechazar Pase{% endblock %}

{% block body %}

    <h1>Rechazar Pase</h1>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pase</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-3">
                    <dl>
                        <dt>
                            Jugador
                        </dt>
                        <dd>
                            {{ pase.jugador }}
                        </dd>
                        <dt>
                            Club Origen
                        </dt>
                        <dd>
                            {{ pase.clubOrigen }}
                        </dd>
                        <dt>
                            Club Destino
                        </dt>
                        <dd>
                            {{ pase.clubDestino }}
                        </dd>
                    </dl>

                </div>
            </div>

            <h3>Desea Rechazar el Pase?</h3>

            {{ form_row(form.motivoRechazo) }}

            <button class="btn btn-primary">{{ button_label|default('Confirmar') }}</button>


            {{ form_end(form) }}

        </div>
    </div>

    <a class="btn btn-default" href="{{ backRoute }}">Volver</a>


{% endblock %}