{% extends 'base.html.twig' %}

{% block title %}Nuevo Pase{% endblock %}

{% block body %}
    <h1>Solicitud de Pase</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Solicitud</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="d-none">
                        {{ form_widget(form) }}
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <dl>
                                <dt>
                                    Jugador
                                </dt>
                                <dd>
                                    {{ jugador }}
                                </dd>
                                <dt>
                                    Club Origen
                                </dt>
                                <dd>
                                    {{ pase.clubOrigen }}
                                </dd>
                                <dt>
                                    Club Destino
                                </dt>
                                <dd>
                                    {{ pase.clubDestino }}
                                </dd>
                            </dl>

                        </div>
                    </div>


                    <button class="btn btn-primary">{{ button_label|default('Confirmar') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% if referer %}
        <a class="btn btn-default" href="{{ referer }}">Volver</a>
    {% else %}
        <a class="btn btn-default" href="{{ path('buscar_jugador') }}">Volver</a>
    {% endif %}
{% endblock %}