{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Jugador</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>

                            <div class="col-sm-10">
                                {{ jugador.jugador.persona.nombre }}
                                {{ jugador.jugador.persona.apellido }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nº Identificación</label>

                            <div class="col-sm-10">
                                {{ jugador.jugador.persona.numeroIdentificacion }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Posición</label>

                            <div class="col-sm-10">
                                {{ jugador.jugador.posicionHabitual }}
                            </div>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    {% if is_granted('ROLE_UNION') %}
                        {% if not jugador.jugador.altura %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="altura" class="control-label">Altura (en Cm)</label>
                                        <input class="form-control" id="altura" name="altura"
                                               type="number">

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if not jugador.jugador.peso %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="peso" class="control-label">Peso (en Kg)</label>
                                        <input class="form-control" id="peso" name="peso"
                                               type="number">

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if competitivo %}
                        <h3 class="card-title">Ficha Médica</h3>

                        {% if is_granted('ROLE_UNION') %}
                            {% if not fichaMedica.prestador %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="prestador" class="control-label">Prestador</label>
                                            <input class="form-control" id="prestador" name="prestador"
                                                   type="text">

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_CLUB') %}

                            {% if not tieneFichaMedica %}
                                <div class="form-group">
                                    <label for="appbundle_fichamedica_grupoSanguineo"
                                           class="control-label required">Grupo Sanguíneo
                                        *</label>
                                    <select id="grupoSanguineo"
                                            name="grupoSanguineo" required="required"
                                            class="form-control">
                                        <option value="" selected="selected">Seleccionar</option>
                                        {% for gs in grupoSanguineos %}
                                            <option value="{{ gs.id }}">{{ gs }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="matricula" class="control-label">Matrícula</label>
                                <input class="form-control" id="matricula" name="matricula" required
                                       type="text">

                            </div>
                            <div class="form-group">
                                <label for="doctor" class="control-label">Doctor</label>
                                <input class="form-control" id="doctor" name="doctor" required type="text">

                            </div>
                            {{ form_widget(form.confirmadoClub) }}
                        {% endif %}
                    {% endif %}



                    {% if is_granted('ROLE_UNION') %}
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Matrícula</label>
                                <div class="col-sm-10">
                                    {{ fichaMedica.matricula }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Doctor</label>
                                <div class="col-sm-10">
                                    {{ fichaMedica.doctor }}
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form.confirmadoUnion) }}
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
