{% extends 'base.html.twig' %}

{% block title %}
    Jugadores
{% endblock title %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Filtros</h3>

                </div>
                {{ form_start(filter_type) }}
                <div class="box-body">
                    <div class="col-md-6">
                        {{ form_row(filter_type.nombre) }}
                        {{ form_row(filter_type.numeroIdentificacion) }}
                        {% if is_granted('ROLE_UNION') %}
                            {{ form_row(filter_type.club) }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(filter_type.apellido) }}
                        {{ form_row(filter_type.posicion) }}
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                </div>
                <div class="hidden">
                    {{ form_end(filter_type) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Jugadores</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Club</th>
                            <th>Nº Identificación</th>
                            <th>Jugador</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Posición</th>
                            <th>Fecha de Registro</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for clubJugador in clubJugadors %}
                            <tr>
                                <td>{{ clubJugador.club }}</td>
                                <td>{{ clubJugador.jugador.persona.numeroIdentificacion }}</td>
                                <td>
                                    {% if (is_granted('ROLE_UNION')) %}
                                        <a href="{{ path('persona_edit', { 'id': clubJugador.jugador.persona.id }) }}?referer={{ app.request.requestUri | url_encode }}"
                                           data-toggle="tooltip" title="Editar Datos Personales">
                                            {{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }}
                                        </a>
                                    {% else %}
                                        {{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }}
                                    {% endif %}
                                </td>
                                <td>{{ clubJugador.jugador.persona.fechaNacimiento | date ('d/m/Y') }}</td>
                                <td class="col-md-2">
                                    {{ clubJugador.jugador.posicionHabitual }}<br>
                                    {{ clubJugador.jugador.posicionAlternativa }}<br>
                                    {{ clubJugador.jugador.segundaPosicionAlternativa }}
                                </td>
                                <td>{% if clubJugador.fechaCreacion %}{{ clubJugador.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td class="col-md-2">
                                    {% if not clubJugador.confirmado %}
                                        <small class="label bg-yellow">El jugador no Confirmó su mail</small>
                                    {% endif %}
                                    {% if not clubJugador.confirmadoUnion %}
                                        <small class="label bg-yellow">Pendiente Unión</small>
                                    {% endif %}
                                    {% if not clubJugador.confirmadoClub %}
                                        <small class="label bg-yellow">Pendiente Club</small>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if (is_granted('ROLE_CLUB')) %}
                                        {% if clubJugador.confirmado and not clubJugador.confirmadoClub %}
                                            <a class="btn btn-default"
                                               href="{{ path('clubjugador_confirmar', { 'id': clubJugador.id }) }}">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if (is_granted('ROLE_UNION')) %}
                                        {% if clubJugador.confirmado and clubJugador.confirmadoClub and not clubJugador.confirmadoUnion %}
                                            <a class="btn btn-default"
                                               href="{{ path('clubjugador_confirmar', { 'id': clubJugador.id }) }}">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-default btn-resend" data-toggle="tooltip"
                                           title="Reenviar Mail"
                                           data-url="{{ path('clubjugador_reenviar_mail_confirmacion', { 'id': clubJugador.id }) }}">
                                            <i class="fa fa-send"></i>
                                        </a>
                                    {% endif %}

                                    <a class="btn btn-default"
                                       href="{{ path('clubjugador_rechazar', { 'id': clubJugador.id }) }}">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="navigation">
                {{ knp_pagination_render(clubJugadors) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-resend').click(function () {
                let url = $(this).data('url');
                modalConfirm('Aviso!', 'Desea Reenviar el Mail?', url);
            })
        });
        $(document).on('click','#modal-confirm #modal-confirm-btn-ok', function () {
            $(this).addClass('disabled');
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Enviando');
        } )

    </script>
{% endblock javascripts %}
