{% extends 'base_public.html.twig' %}

{% block title %}

{% endblock title %}
{% block body %}
    <div class="public-box">
        <div class="public-logo center-block">
            <a href="#">
                <img src="{{ asset('bundles/app/img/logo_urp.jpg') }}" class="img-responsive">
            </a>
        </div>

        <div class="public-box-body">
            {#<p class="login-box-msg">Register a new membership</p>#}
            <h1 class="text-center">EVALUACIÓN PRE-COMPETITIVA {{ "now" | date('Y') }}</h1>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.tieneCobertura) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.prestador) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.numeroAfiliado) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {#{{ form_row(form.altura) }}#}
                </div>
                <div class="col-md-6">
                    {#{{ form_row(form.peso) }}#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.indiceTorg) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.grupoSanguineo) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-default btn-block btn-flat">Anterior</a>
                </div>
                <div class="col-md-4 pull-right">

                    <a href="{{ path('jugador_precompetitivo_resumen') }}" class="btn btn-primary btn-block btn-flat">Siguiente</a>
                </div>
            </div>

        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
