{% extends 'base.html.twig' %}

{% block title %}
    Jugadores
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Jugadores</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                <tr>
                    <th>Club</th>
                    <th>Nº Identificación</th>
                    <th>Jugador</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Posición</th>
                    <th>Fecha de Registro</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for clubJugador in clubJugadors %}
                    <tr>
                        <td>{{ clubJugador.club }}</td>
                        <td>{{ clubJugador.jugador.persona.numeroIdentificacion }}</td>
                        <td>{{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }}</td>
                        <td>{{ clubJugador.jugador.persona.fechaNacimiento | date ('d/m/Y') }}</td>
                        <td>{{ clubJugador.jugador.posicionHabitual }}</td>
                        <td>{% if clubJugador.fechaCreacion %}{{ clubJugador.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                        <td>
                            {% if not clubJugador.confirmado %}
                                <small class="label bg-yellow">El jugador no Confirmó su mail</small>
                            {% endif %}
                            {% if not clubJugador.confirmadoUnion %}
                                <small class="label bg-yellow">Pendiente Unión</small>
                            {% endif %}
                            {% if not clubJugador.confirmadoClub %}
                                <small class="label bg-yellow">Pendiente Club</small>
                            {% endif %}
                        </td>
                        <td>
                            {% if (is_granted('ROLE_CLUB') and not clubJugador.confirmadoClub) or
                                is_granted('ROLE_ADMIN') and not clubJugador.confirmadoUnion %}

                                {% if clubJugador.confirmado %}
                                    <a class="btn btn-default"
                                       href="{{ path('clubjugador_confirmar', { 'id': clubJugador.id }) }}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(clubJugadors) }}
        </div>
    </div>


{% endblock %}
