{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.nombre) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.imageFile) }}
    </div>
</div>

<h3>Organizador</h3>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.clubOrganizador) }}
    </div>
</div>

<h3>Organización</h3>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.division) }}
        {{ form_row(form.maximoTitularesPorEquipo) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.sexo) }}
        {{ form_row(form.maximoSuplentesPorEquipo) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.cargaIncidencias) }}
    </div>
</div>

{{ form_widget(form) }}
<button class="btn btn-primary btn-guardar">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}