{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ club.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ club.nombre }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td>{{ club.imageName }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{% if club.activo %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Fecha creacion</th>
            <td>{% if club.fechaCreacion %}{{ club.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Fecha actualizacion</th>
            <td>{% if club.fechaActualizacion %}{{ club.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>


    <a class="btn btn-default" href="{{ path('club_index') }}">Volver</a>

    <a class="btn btn-default" href="{{ path('club_edit', { 'id': club.id }) }}">Editar</a>



{% endblock %}
