{% extends 'base.html.twig' %}

{% block title %}
    Referees
{% endblock title %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>

                </div>
                {{ form_start(filter_type) }}
                <div class="card-body">
                    <div class="col-md-6">
                        {{ form_row(filter_type.nombre) }}
                        {{ form_row(filter_type.numeroIdentificacion) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(filter_type.apellido) }}
                    </div>

                </div>
                <div class="card-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                </div>
                {{ form_end(filter_type) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de Referees</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Nº Identificación</th>
                            <th>Referee</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Fecha de Registro</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for referee in referees %}
                            <tr>
                                <td>{{ referee.persona.numeroIdentificacion }}</td>
                                <td>
                                    <a href="{{ path('referee_show', { 'id': referee.id }) }}">
                                        {{ referee.persona.nombre }} {{ referee.persona.apellido }}
                                    </a>
                                </td>
                                <td>{{ referee.persona.fechaNacimiento | date ('d/m/Y') }}</td>

                                <td>{% if referee.fechaCreacion %}{{ referee.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td>
                                    <a class="btn btn-default" href="{{ path('referee_show', { 'id': referee.id }) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(referees, null, {}, { 'align': 'center' }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
