<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        body {
            font-size: small;
        }

        .datos-personales {
            display: table;
            width: 100%;
        }

        .datos-personales span {
            /*margin-bottom: 5px;*/
            display: table-cell;
            width: 50%;
            padding-bottom: 2%;
            /*padding: 5px;*/
        }

        .firma {
            width: 100%;
            margin-top: 15%;
            margin-bottom: 15%;
        }

        .firma td {
            border-top: 1px black solid;
            width: 30%;
            text-align: center;
        }

        .page-break {
            page-break-before: always;
        }

        h1, h2, h3 {
            text-align: center;
        }

        h1 {
            text-decoration: underline;
        }

        .tabla {
            margin-top: 5%;
        }

        .table {
            border-collapse: collapse;
        }

        .table, .table th, .table td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<section>
    <h1>EVALUACIÓN PRE COMPETITIVA</h1>
</section>
<section>

    <div class="datos-personales">
        <span>Nombre y Apellido:
            <b>{{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }}</b>
        </span>
    </div>
    <div class="datos-personales">
        <span>Fecha de Nacimiento: <b>{{ clubJugador.jugador.persona.fechaNacimiento | date('d/m/Y') }}</b> </span>
        <span>C.I.: <b>{{ clubJugador.jugador.persona.numeroIdentificacion }}</b></span>

    </div>
    <div class="datos-personales">
        <span>Dirección: <b>{{ clubJugador.jugador.persona.contacto.direccion }}</b></span>

    </div>
    <div class="datos-personales">
        <span>Cel: <b>{{ clubJugador.jugador.persona.contacto.telefono }}</b> </span>
        <span>Tel: <b>{{ clubJugador.jugador.persona.contacto.telefonoAlternativa }}</b></span>

    </div>
    <div class="datos-personales">
        <span>Mail: <b>{{ clubJugador.jugador.persona.contacto.mail }}</b></span>


    </div>
    <div class="datos-personales">
        <span>Pre Paga / Seguro medico / IPS: <b>{{ clubJugador.fichaMedica.first.prestador }}</b> </span>
    </div>
    <div class="datos-personales">
        <span>Nombre de contacto en caso de urgencia: </span>
        ..............................................................................................
    </div>
    <div class="datos-personales">
        <span>Cel. del contacto: ........................</span>
        ................................................................................................................

    </div>
    <div class="datos-personales">
        <span>Grupo sanguíneo: <b>{{ clubJugador.fichaMedica.first.grupoSanguineo }}</b></span>
    </div>

    <div class="tabla">
        <table class="table">
            <thead>
            <tr>
                <th>ANTECEDENTES DE ENFERMEDAD</th>
                <th style="width: 10%">SI</th>
                <th style="width: 10%">NO</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fue operado en los últimos 4 meses?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Toma regularmente alguna medicación?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Estuvo internado en el ultimo año?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sufre de hormigueo en las manos?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Es diabético?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Es asmático?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Es alérgico?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tiene antecedentes de epilepsia o convulsiones?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tiene algún problema de columna?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tiene dolor de cintura después de realizar ejercicios físicos?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ha tenido fracturas, luxaciones o lesiones ligamentarias en los últimos 4 meses?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tiene dolores articulares?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Alguna vez experimento excesiva falta de aire mientras realizaba ejercicios físicos?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ha tenido traumatismos de cráneo con perdida del conocimiento en los últimos 4 meses?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Alguna vez sintió dolor en el pecho mientras realizaba ejercicios físicos o inmediatamente
                    después?
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Alguna vez perdió el conocimiento mientras realizaba ejercicios fisicios o inmediatamente después?
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Le han detectado alguna vez presión arterial alta?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Alguien de la familia ha sufrido una muerte súbita antes de los 50 años?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Algun familiar directo tiene alguna enfermedad cardiaca?</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Le ha detectado alguna vez soplo cadiaco?</td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="page-break"></div>

    <p>
        El/La Sr/Srta. <b>{{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }} </b>
        con C.I. N° <b>{{ clubJugador.jugador.persona.numeroIdentificacion }}</b>
        es apto para la practica de deportes, habiendo tomado conocimiento de los "antecedentes de la enfermedad"
        y los estudios realizados.


    <table class="firma">
        <tr>
            <td>Lugar y Fecha</td>
            <td>Firma y sello del Médico</td>
        </tr>
    </table>
    </p>

    {#<hr class="page-break">#}

    {% if edad >= 18 %}
        <h2>CONSENTIMIENTO</h2>
        <h3>(para mayores de 18 años)</h3>

        <p>
            Yo <b>{{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }} </b> con C.I. N°
            <b>{{ clubJugador.jugador.persona.numeroIdentificacion }}</b>, acepto integrar equipos representativos del
            Club
            <b>{{ clubJugador.club }}</b>, y realizar actividades relacionadas con tal participación,
            responsabilizándome
            por la veracidad de la información vertida en el presente formulario.
        </p>
        <table class="firma">
            <tr>
                <td>Fecha</td>
                <td>Firma</td>
            </tr>
        </table>
    {% elseif edad < 18 %}
        <h2>CONSENTIMIENTO</h2>
        <h3>(para menores de 18 años)</h3>

        <p> Yo
            .........................................................................................................................................,<br/>
            con CI N°
            .......................................................................................................................................
            <br/>
            en mi carácter de padre/madre (o tutor), autorizo a mi hijo
            <b>{{ clubJugador.jugador.persona.nombre }} {{ clubJugador.jugador.persona.apellido }} </b>,
            con CI N° <b>{{ clubJugador.jugador.persona.numeroIdentificacion }}</b>, a integrar equipos representativos
            del Club
            <b>{{ clubJugador.club }}</b>, y realizar actividades relacionadas con tal participación,
            responsabilizándome
            por la veracidad de la información vertida en el presente formulario.
        </p>
        <table class="firma">
            <tr>
                <td>Fecha</td>
                <td>Firma</td>
            </tr>
        </table>
    {% endif %}

    <b>(*) Dicho formulario debe adjuntarse a la evaluación médica realizada con los correspondientes estudios.</b>

</section>
</body>
</html>