{% extends 'base.html.twig' %}

{% block title %}
    Jugadores
{% endblock title %}
{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Filtros</h3>

                </div>
                {{ form_start(filter_type) }}
                <div class="box-body">
                    <div class="col-md-6">
                        {{ form_row(filter_type.nombre) }}
                        {{ form_row(filter_type.numeroIdentificacion) }}
                        {% if is_granted('ROLE_UNION') %}
                            {{ form_row(filter_type.club) }}
                        {% endif %}
                        {{ form_row(filter_type.categoria) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(filter_type.apellido) }}
                        {{ form_row(filter_type.posicion) }}
                        <div class="col-md-6">
                            {{ form_row(filter_type.fechaNacimientoDesde) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(filter_type.fechaNacimientoHasta) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                    <div class="pull-right">
                        <button type="button" id="imprimirPDF"
                                class="btn btn-default btn">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" id="imprimirExcel"
                                class="btn btn-default btn">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_end(filter_type) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Jugadores</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Club</th>
                            <th>Nº Identificación</th>
                            <th>Jugador</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Posición</th>
                            <th>Fecha de Registro</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for jugador in jugadors %}
                            <tr>
                                <td>{{ jugador.clubJugador.last.club }}</td>
                                <td>{{ jugador.persona.numeroIdentificacion }}</td>
                                <td>
                                    <a href="{{ path('jugador_show', { 'id': jugador.id }) }}?referer={{ app.request.requestUri | url_encode }}">
                                        {{ jugador.persona.nombre }} {{ jugador.persona.apellido }}
                                    </a>
                                </td>
                                <td>{{ jugador.persona.fechaNacimiento | date ('d/m/Y') }}</td>
                                <td>{{ jugador.posicionHabitual }}</td>
                                <td>{% if jugador.fechaCreacion %}{{ jugador.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td>
                                    <a class="btn btn-default"
                                       href="{{ path('jugador_show', { 'id': jugador.id }) }}?referer={{ app.request.requestUri | url_encode }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label> Registros:</label>
            <select name="mostrar-resultados" id="mostrar-resultados" class="input-sm">
                <option value="10" {% if filter_type.cantidadRegistros.vars.data == 10 %}selected{% endif %} >10
                </option>
                <option value="25" {% if filter_type.cantidadRegistros.vars.data == 25 %}selected{% endif %} >25
                </option>
                <option value="50" {% if filter_type.cantidadRegistros.vars.data == 50 %}selected{% endif %} >50
                </option>
                <option value="100" {% if filter_type.cantidadRegistros.vars.data == 100 %}selected{% endif %} >100
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="navigation">
                {{ knp_pagination_render(jugadors) }}
            </div>
        </div>
    </div>

    {#<a class="btn btn-primary" href="{{ path('jugador_new') }}">Nuevo jugador</a>#}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $('#mostrar-resultados').change(function () {
                console.log($(this).val())
                $('#{{ filter_type.cantidadRegistros.vars.id }}').val($(this).val())
                $("form[name='{{ filter_type.vars.id }}']").submit();
            });

            $('#imprimirPDF').click(function () {
                $('form[name="{{ filter_type.vars.name }}"]').attr('target', '_blank');
                $('form[name="{{ filter_type.vars.name }}"]').attr('action', '{{ path('jugador_exportar_pdf') }}');
                $('form[name="{{ filter_type.vars.name }}"]').submit();
                $('form[name="{{ filter_type.vars.name }}"]').removeAttr('target');
                $('form[name="{{ filter_type.vars.name }}"]').removeAttr('action');
            });
            $('#imprimirExcel').click(function () {
                $('form[name="{{ filter_type.vars.name }}"]').attr('target', '_blank');
                $('form[name="{{ filter_type.vars.name }}"]').attr('action', '{{ path('jugador_exportar_excel') }}');
                $('form[name="{{ filter_type.vars.name }}"]').submit();
                $('form[name="{{ filter_type.vars.name }}"]').removeAttr('target');
                $('form[name="{{ filter_type.vars.name }}"]').removeAttr('action');
            });
        });
    </script>
{% endblock javascripts %}