{% extends 'base_public.html.twig' %}

{% block title %}

{% endblock title %}

{% block styles %}
    <style>
        public-box {
            width: 60%;
            /*margin: 7% auto;*/
            /*margin-top: 1%;*/
            margin-right: auto;
            /*margin-bottom: 7%;*/
            margin-left: auto;
        }

        .public-logo {
            font-size: 35px;
            text-align: center;
            margin-bottom: 25px;
            font-weight: 300;
        }

        .public-box-body {
            background: #fff;
            padding: 20px;
            border-top: 0;
            color: #666;
        }

        .logo {
            width: 75%;
        }
    </style>
{% endblock styles %}
{% block body %}
    <div class="col-2 offset-5 mt-3">
        <div class="public-logo center-block">
            <a href="#">
                <img src="{{ asset('build/img/logo_urp.png') }}" class="img-fluid logo">
            </a>
        </div>
    </div>

    <div class="public-box">

        <div class="public-box-body">
            <!-- /.login-logo -->
            <div class="">
                <div class="card-header text-center">
                    <a href="#" class="h1">EVALUACIÓN PRE-COMPETITIVA {{ "now" | date('Y') }}</a>
                </div>
                <div class="card-body text-center">
                    <h2>Muchas Gracias</h2>
                    <p>
                        Se presentó una solicitud para el jugador {{ clubJugador.jugador.persona.nombre }}
                        {{ clubJugador.jugador.persona.apellido }}, con {{ clubJugador.jugador.persona.tipoIdentificacion.siglas }} N°
                        {{ clubJugador.jugador.persona.numeroIdentificacion }}
                    </p>
                    <p>
                        La misma será confirmada por el responsable del club.
                    </p>
                    {% if edad > 5 %}
                        <p>
                            Recordá acercarle un apto físico.
                        </p>
                    {% endif %}
{#                    <p>#}
{#                        Te hemos enviado un mail con la dirección que indicaste.#}
{#                    </p>#}
{#                    <p>#}
{#                        Cuando lo recibas, vas a poder imprimir tu solicitud de registro.#}
{#                    </p>#}

                </div>


            </div>
            <!-- /.form-box -->
        </div>
    </div>
{% endblock %}
