{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    {% set avatar =  asset('build/img/avatar.png') %}
                    {% if jugador.persona.imageName %}
                        {% set avatar = jugador.persona.imageName %}
                    {% endif %}
                    <img class="profile-user-img img-responsive img-circle" src="{{ avatar }}"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{{ jugador.persona.nombre }} {{ jugador.persona.apellido }}</h3>

                    <p class="text-muted text-center">{{ jugador.posicionHabitual }}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Peso</b> <a class="pull-right">{{ jugador.peso }} Kg</a>
                        </li>
                        <li class="list-group-item">
                            <b>Altura</b> <a class="pull-right">{{ jugador.altura }} Mts</a>
                        </li>
                        {#<li class="list-group-item">#}
                        {#<b>Friends</b> <a class="pull-right">13,287</a>#}
                        {#</li>#}
                    </ul>

                    {#<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos Personales</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {#<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>#}

                    <p class="text-muted">
                        <strong>Fecha de Nacimiento:</strong> {{ jugador.persona.fechaNacimiento | date('d/m/Y') }}<br>
                        <strong>Identificación:</strong> {{ jugador.persona.tipoIdentificacion }} {{ jugador.persona.numeroIdentificacion }}
                        <br>
                    </p>

                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Contacto</strong>

                    <p class="text-muted">
                        <strong>Mail:</strong> {{ jugador.persona.contacto.mail }}<br>
                        <strong>Tel:</strong> {{ jugador.persona.contacto.telefono }}<br>
                        <strong>Tel alt:</strong> {{ jugador.persona.contacto.telefonoAlternativa }}<br>
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Dirección</strong>

                    <p class="text-muted">
                        {{ jugador.persona.contacto.provincia }}
                        {{ jugador.persona.contacto.localidad }}
                        {{ jugador.persona.contacto.direccion }}
                    </p>

                    <hr>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Datos Médicos</a></li>
                    <li><a href="#timeline" data-toggle="tab">Historial de Pases</a></li>
                    {#<li><a href="#settings" data-toggle="tab">Settings</a></li>#}
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        {% for clubJugador in jugador.clubJugador %}
                            {% for fichaMedica in clubJugador.fichaMedica %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Prestador:</strong> {{ fichaMedica.prestador }} <br>
                                        <strong>Nº afiliado:</strong> {{ fichaMedica.numeroAfiliado }}<br>
                                        <strong>Grupo Sanguíneo:</strong> {{ fichaMedica.grupoSanguineo }}<br>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse">

                            {% for pase in jugador.pases %}
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-red">
                                      {{ pase.fechaConfirmacionUnion | date('d/m/Y') }}
                                    </span>
                                </li>
                                <!-- /.timeline-label -->

                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-exchange bg-aqua"></i>

                                    <div class="timeline-item">
                                        {#<span class="time"><i class="fa fa-clock-o"></i> {{ clubJugador.anio }}</span>#}

                                        <h3 class="timeline-header no-border">{{ pase.clubOrigen }} > {{ pase.clubDestino }}
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                            {% endfor %}

                        </ul>
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">

                        <div class="box-header with-border">
                            <h3 class="box-title">Fichajes</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Año</th>
                                    <th>Club</th>
                                    <th>Precompetitivo</th>
                                </tr>
                                {% for fichaje in jugador.clubJugador %}
                                    <tr>
                                        <td>{{ fichaje.anio }}</td>
                                        <td>{{ fichaje.club }}</td>
                                        <td>
                                            <a class="btn btn-default" target="_blank"
                                               href="{{ path('jugador_ficha_precompetitiva', {'clubJugadorId': fichaje.id}) }}">
                                                <i class="fa fa-print"></i>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>


                            </table>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>


    <a class="btn btn-default" href="{{ path('jugador_index') }}">Volver</a>

    {#<a class="btn btn-default" href="{{ path('jugador_edit', { 'id': jugador.id }) }}">Editar</a>#}



{% endblock %}
