{% extends 'base.html.twig' %}

{% block title %}
    Pagos de clubes
{% endblock title %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Pagos</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Club</th>
                            <th>Monto</th>
                            <th>Mes</th>
                            <th>Fecha de Pago</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pagoClub in pagoClubs %}
                            <tr>
                                <td><a href="{{ path('pagoclub_show', { 'id': pagoClub.id }) }}">{{ pagoClub.id }}</a>
                                </td>
                                <td>{{ pagoClub.club }}</td>
                                <td>{{ pagoClub.monto }}</td>
                                <td>{{ pagoClub.mes }}</td>
                                <td>{% if pagoClub.fecha %}{{ pagoClub.fecha|date('d/m/Y') }}{% endif %}</td>

                                <td>
                                    <a class="btn btn-default"
                                       href="{{ path('pagoclub_show', { 'id': pagoClub.id }) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-default"
                                       href="{{ path('pagoclub_edit', { 'id': pagoClub.id }) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('pagoclub_new') }}">Registrar Nuevo Pago</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="navigation">
                {{ knp_pagination_render(pagoClubs, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
