{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagoclub</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ pagoClub.id }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{% if pagoClub.fecha %}{{ pagoClub.fecha|date('d/m/Y H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>{{ pagoClub.monto }}</td>
        </tr>
        <tr>
            <th>Mes</th>
            <td>{{ pagoClub.mes }}</td>
        </tr>
        </tbody>
    </table>


    <a class="btn btn-default" href="{{ path('pagoclub_index') }}">Volver</a>

    <a class="btn btn-default" href="{{ path('pagoclub_edit', { 'id': pagoClub.id }) }}">Editar</a>


{% endblock %}
